<div class="lessons-list-container v-h-center-block-parent" *ngIf="(photos$ | async)" >

    <h1 class="naslov">Admin Panel - Photographs</h1>
    <button routerLink="/photographs/add" class="btn btn-dark btn-center">
        New photograph
    </button>
    <table class="table lessons-list card card-strong">
        <tbody>
        <tr *ngFor="let p of photos$ | async" >
            <td class="title"> 
                <b>{{p.name}}</b>, {{p.year}}
            </td>
            <td class="title"> 
               {{p.photographer.firstName}} {{p.photographer.lastName}} ({{p.photographer.age}})
            </td>
            <td class="title"> 
                {{p.price}}$
            </td>
            <td class="photo">
                <a  href="{{p.photoLink}}" target="_blank">
                    <img src="../../../assets/photos/{{p.photoLink}}" alt="photo" height="130" width="160">
                </a>
            </td>
            <button type="button" class="btn btn-warning" routerLink="/photographs/{{p.id}}">
                Edit
            </button>
            <button type="button" class="btn btn-danger" (click)="deletePhotograph(p.id)">
                Delete 
            </button>
        </tr>
        </tbody>
    </table>
    
    
    </div>