<div class="bgimg w3-display-container w3-animate-opacity w3-text-white bck">
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top" style="color: white; padding-top: 20px;">Welcome to PhotographiusScope</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <h1 class="w3-jumbo w3-animate-top" style="color: white; padding-top: 20px;" *rbacAllow="['ADMIN']">ADMIN</h1>

    </div>
  </div>
  
  <style>
    .bgimg {
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../../assets/photos/background1.jpg);
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }

    .bck {
        height: 667px;
        background-attachment: fixed;
    }
    </style>