<div class="lessons-list-container v-h-center-block-parent" *ngIf="(photos$ | async)" >

    <h1 class="naslov">Photographs</h1>
    <button routerLink="/photographs/add" class="btn btn-dark btn-center" *rbacAllow="['ADMIN']">
        New photograph
    </button>
  
    <table class="table lessons-list card card-strong">
        <tbody>
        <tr *ngFor="let p of photos$ | async" >
            <td class="title"> 
                <b>{{p.name}}</b>, {{p.year}}
            </td>
            <td class="title"> 
               {{p.photographer.firstName}} {{p.photographer.lastName}} ({{p.photographer.age}})
            </td>
            <td class="title"> 
                {{p.price}}$
            </td>
            <td class="photo">
                <a  href="{{p.photoLink}}" target="_blank">
                    <img src="../../../assets/photos/{{p.photoLink}}" alt="photo" height="130" width="160">
                </a>
            </td>
            <div *rbacAllow="['ADMIN']">
                <button type="button" class="btn btn-warning" routerLink="/photographs/{{p.id}}">
                    Edit
                </button>
                <button type="button" class="btn btn-danger" (click)="deletePhotograph(p.id)">
                    Delete 
                </button>
            </div>
            
            <div *rbacAllow="['USER']">
                <button type="button" class="btn btn-light" *ngIf="!p.userId" (click)="buyPhotograph(p.id)" >
                    Buy
                </button>
                <button type="button" class="btn btn-dark" *ngIf="p.userId === (loggedUser$ | async).id" (click)="sellPhotograph(p.id)">
                    Sell
                </button>
            </div>
            
        </tr>
        </tbody>
    </table>    
</div>



<div *rbacAllow="['USER']">
    <h2>Bored of photographs?</h2>
    <div class="ipsearch">
        <h3>Ping an address to waste time</h3>
        <form novalidate [formGroup]="form">
            <div class="form-group">
                <input class="form-control search" formControlName="ipaddress" type="text" placeholder="IPv4 address"
                    required minlength="7" maxlength="15" pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"/>
            </div>
            <div class="form-buttons">
                <button class="btn btn-dark src-btn" [disabled]="!form.valid" (click)="ping()">Ping it!</button>
             </div>
        </form> 
        <div *ngIf="response" class="ipresponse">
            {{response.response}}
        </div>
    </div>
</div>
<ng-container *ngFor="let error of error_messages.ipaddress" >
    <label class="text-danger errors" *ngIf="form.get('ipaddress').hasError(error.type) && (form.get('ipaddress').dirty || form.get('ipaddress').touched)">
        {{error.message }}
    </label>
</ng-container>